<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

        <!-- If IE use the latest rendering engine -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Set the page to the width of the device and set the zoon level -->
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        <title>State Library of Queensland</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <style>


    header{
        padding: 5px;
        color: white;
        background-color: #4e4e4e;
        clear: left;
        text-align: center;
        text-shadow: none;
    }


    }
    nav{
        padding: 1em;
        color: bl
        clear: left;
        text-align: center;
    }

    section{
        padding: 5em;
        /*background-color:dimgray;*/
        clear: left;
        text-align: center;

    }

    div#contet{
        margin: 5px;
        padding: 10px;
    }

    article{
        padding: 5em;
        color: black;
        clear: left;
        text-align: justify;
        overflow-x: auto;
    }

    footer{
        padding: 2em;
        text-align: center;
        background-color: #4e4e4e;
        color: white;
    }

    a, a:hover, a:active, a:visited, a:focus {
        text-decoration:none;
        color: inherit;
    }

    table .absorbing-column {
        width: 100%;
    }
    table td {
      white-space: nowrap;
    }

    p.dotted {

        border-top-style: dotted;
        border-bottom-style: dotted;
    }

    </style>

    </head>

    <body>
        <header>
            <table width="100%", border="0">
            <tr>
                <td  align="left">
                    <a text-decoration="none" href="./">
                        <img src="../../static/logo2.png">
                    </a>
                </td>

                <td class="absorbing-column"></td>
                <td>Welcome, guest</td>
                <td style = "white-space:PRE"><font color="black">  <line></line>  </font></td>
                <!--<td><a href="#"><font color="white">Login</font></a></td>-->
                <td>
                    <a href="login" ><font face="Corbel" color="white">Login  </font></a>
                </td>
                <td style = "white-space:PRE"><font color="black">  <line></line>  </font></td>
                <td><a href="register"><font face="Corbel" color="white">   Register</font></a></td>
            </tr>
            </table>
        </header>

        <div id="content">

            <article>

                <table width="100%" >
                    <tr>
                        <td width="100%" align="center"><h2><b>State Library of Queensland</b></h2></td>
                    </tr>
                </table>
                <table width="100%">

                    <p class="dotted" align="center"><br><br>Stanley Place, Cultural Centre, South Brisbane, Queensland 4101</p>

                </table>
            </article>

        </div>


        <nav>

            <table border="0" width="90%" align="center">
                <tr>
            <td>
                <div class="container">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>

                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="../../static/statelibraryofqueenslandone.png" alt="Los Angeles" style="width:100%;">
                            </div>
                            <div class="item">
                                <img src="../../static/statelibraryofqueenslandtwo.png" alt="Chicago" style="width:100%;">
                            </div>

                        </div>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
            </table>
        </nav>

        <div class="container">

            <article>

                <table width="100%">
                    <p>The State Library of Queensland was founded in 1896 and
                        is Queensland’s main site houses a range of collections
                        made up of books, journals, magazines, newspapers,
                        manuscripts and archives, maps, rare books, music, photographs,
                        films and videos, and e-resources. These collections cover
                        Queensland’s heritage, history, art, design and science.
                        The library also holds community programs, showcases workshops
                        and short courses, either for free or low price.</p>


                    <p>Onsite services and facilities include: computers and internet,
                        free wi-fi access, microform printing and copying, standard
                        copying and printing plus scanning. SLQ also have various rooms
                        and venues for hire. Situated overlooking the Brisbane River
                        between the Gallery of Modern and Queensland Art Gallery,
                        the State Library is easily accessed via public transport
                        and South Bank’s various paid parking lots. There is also
                        a café and library shop onsite, open to the public daily.</p>



                </table>
            </article>

        </div>

        <section class="left">
            <table width="100%" >
                <tr>
                    <td width="100%" align="center"><h2><b>Location</b></h2></td>
                </tr>
            </table>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3539.939014563489!2d153.0159242153191!3d-27.47115792334247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915a07b67caa5f%3A0xfc22e8caf1f501ae!2sState+Library+of+Queensland!5e0!3m2!1sen!2sau!4v1507973414993"
                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </section>


        <footer>Copyright &copy; Wavemaker</footer>




    </body>
</html>