<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

        <!-- If IE use the latest rendering engine -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Set the page to the width of the device and set the zoon level -->
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        <title>Victoria Bridge</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <style>


    header{
        padding: 5px;
        color: white;
        background-color: #4e4e4e;
        clear: left;
        text-align: center;
        text-shadow: none;
    }


    }
    nav{
        padding: 1em;
        color: bl
        clear: left;
        text-align: center;
    }

    section{
        padding: 5em;
        /*background-color:dimgray;*/
        clear: left;
        text-align: center;

    }

    div#contet{
        margin: 5px;
        padding: 10px;
    }

    article{
        padding: 5em;
        color: black;
        clear: left;
        text-align: justify;
        overflow-x: auto;
    }

    footer{
        padding: 2em;
        text-align: center;
        background-color: #4e4e4e;
        color: white;
    }

    a, a:hover, a:active, a:visited, a:focus {
        text-decoration:none;
        color: inherit;
    }

    table .absorbing-column {
        width: 100%;
    }
    table td {
      white-space: nowrap;
    }

    p.dotted {

        border-top-style: dotted;
        border-bottom-style: dotted;
    }

    </style>

    </head>

    <body>
        <header>
            <table width="100%", border="0">
            <tr>
                <td  align="left">
                    <a text-decoration="none" href="./">
                        <img src="../../static/logo2.png">
                    </a>
                </td>

                <td class="absorbing-column"></td>
                <td>Welcome, guest</td>
                <td style = "white-space:PRE"><font color="black">  <line></line>  </font></td>
                <!--<td><a href="#"><font color="white">Login</font></a></td>-->
                <td>
                    <a href="login" ><font face="Corbel" color="white">Login  </font></a>
                </td>
                <td style = "white-space:PRE"><font color="black">  <line></line>  </font></td>
                <td><a href="register"><font face="Corbel" color="white">   Register</font></a></td>
            </tr>
            </table>
        </header>

        <div id="content">

            <article>

                <table width="100%" >
                    <tr>
                        <td width="100%" align="center"><h2><b>Victoria bridge</b></h2></td>
                    </tr>
                </table>
                <table width="100%">
                    <p class="dotted" align="center"><br><br>Victoria Bridge, South Brisbane, Queensland 4101</p>

                </table>
            </article>

        </div>


        <nav>

            <table border="0" width="90%" align="center">
                <tr>
            <td>
                <div class="container">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>

                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="../../static/victoriabridgeone.png" alt="Los Angeles" style="width:100%;">
                            </div>
                            <div class="item">
                                <img src="../../static/victoriabridgetwo.png" alt="Chicago" style="width:100%;">
                            </div>

                        </div>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
            </table>
        </nav>

        <div class="container">

            <article>

                <table width="100%">
                    <p>The Victoria Bridge is a vehicular and
                        pedestrian bridge over the Brisbane River.
                        The current bridge, opened in 1969, is the third permanent
                        crossing erected at this location. It is shared by vehicular
                        traffic, pedestrians and cyclists.</p>
                    <p>Victoria Bridge connects South Brisbane near the South Bank
                        Parklands and Queensland Cultural Centre to the Brisbane
                        central business district (CBD) at North Quay.</p>
                    <p>Half of the road space on the bridge is now given
                        over to the South-East Busway. In the 2006 Brisbane
                        City Centre Draft Masterplan, a new crossing immediately
                        adjacent to the Victoria Bridge, tentatively named the
                        Adelaide Street Bridge was recommended for a feasibility study.</p>
                    <p>Construction of a bridge across the Brisbane River was first
                        agreed to in 1861. The newly formed Legislative Assembly
                        of Queensland forced the council to pay for the costs.
                        £70,000 worth of borrowings was acquired from the Bank of
                        Queensland. Work first began on the foundations for the
                        first bridge across the Brisbane River on 22 August 1864.
                        The bridge, known as the Brisbane Bridge, was a tolled,
                        timber structure which opened in June 1865. It was a temporary
                        structure which was to be replaced by a more elaborately designed,
                        iron lattice-girder bridge. The Bank of Queensland failed in July 1866,
                        bringing about a halt to funding for the project. The state
                        government was reluctant to take on responsibility for the bridge’s
                        construction because it didn’t want to incur debt. The timber
                        bridge quickly succumbed to marine wood worm and began to
                        progressively collapse. The council wasn’t able to fully repair
                        the structure and its remnants took two years to fall away into the river. </p>
                    <p>In 1871, an English company, Peto, Brassey and Co, agreed to complete
                        the bridge. A new crossing, opened on 15 June 1874 by the Governor of
                        Queensland, the George Phipps, 2nd Marquess of Normanby, was an iron
                        structure and a toll bridge. The bridge was paid for by significant
                        council borrowings that were to be recouped by tolls. However a lack
                        of revenue forced its transfer to the Colonial Government. The tolls
                        were abolished at this time. It included a turning span to allow tall
                        masted river traffic to pass upstream. The position of the swinging
                        span was fixed when the tram-lines were laid along the bridge.
                        It carried a 6 in (0.15 m) and a 9 in (0.23 m) diameter pipe which
                        supplied mains water to South Brisbane. This bridge was partially
                        washed away in the 1893 Brisbane flood.</p>
                    <p>Another replacement bridge was built and entered service in 1897,
                        lasting until 1969, when it was demolished. In the meantime,
                        ferries were used to transport people and goods. This second
                        bridge was designed by Alfred Barton Brady. It was constructed
                        of steel and had two carriage ways and two footpaths.[9] As early
                        as 1943 evidence of the bridge buckling from the weight of increased
                        traffic was noticed. Tram numbers on the bridge had to be restricted
                        and the footpath removed as a result.</p>
                    <p>A new bridge which was opened on 14 April 1969, was needed to meet
                        growing traffic demands. It cost A$3.2 million and featured a modern
                        design which has been described as sleek and elegant. For a short
                        period both bridges were open, each operating in one direction only.</p>
                    <p>A portion of the southern abutment of the previous bridge remains
                        adjacent to the new bridge, carrying a pedestrian arch, a short
                        remnant of tram track and a memorial to Hector Vasyli, a young boy
                        who was killed in a traffic accident at that point when waving to
                        servicemen returning from the First World War. The abutment is heritage-listed.</p>
                    <p></p>


                </table>
            </article>

        </div>

        <section class="left">
            <table width="100%" >
                <tr>
                    <td width="100%" align="center"><h2><b>Location</b></h2></td>
                </tr>
            </table>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3539.8976694785883!2d153.01881651534518!3d-27.472444982889858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915a05e76f172f%3A0x32aea4fcb516172b!2sVictoria+Bridge%2C+South+Brisbane+QLD+4101!5e0!3m2!1sen!2sau!4v1507865459783"
                    width="600" height="450" frameborder="0"
                    style="border:0" allowfullscreen></iframe>
        </section>


        <footer>Copyright &copy; Wavemaker</footer>




    </body>
</html>